/*  the whole page is centered
    since everything is within the div 'container' has the auto margins*/

#container {
    width:     1000px;
    background-color: beige;
    margin-left: auto;
    margin-right: auto;
    color: #5F6AA2 ;
    padding: 20px;
}

#header {
    background-color: #D2F2C9;
    text-align: center;
}

#menu {
    width:     500px;
    background-color:  #38D85C;
    margin-left:   60px;
    padding: 5px;
}

/*This is an extra style element that will change all 'a href' tags to the values below*/
a {
    font-size:  25px;
    text-decoration: none;
    color: #cf4f70;
}
a:hover {
    color: black;
    text-decoration: underline;
}